@import url(/css_lib/navbar.css);
@import url(/css_lib/footer.css);


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  overflow-x: hidden;
  font-family: "Heebo", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

h1{
  color: white;
}

p {
  color: white;
}


/*NOTAVAILABLE*/
.notavailable {
  position: relative; 
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000;
}


.content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  
  height: 100%;
}

.infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.desc {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.desc h1 {
  position: relative;
  text-transform: uppercase;
  color: white;
}

.line {
  color: white;
  width: 40%;
  border-top: 1px solid white;
  margin: 10px 0 10px 0;
}
.contact{
  font-size: 5vw;
}

.others{
  font-size: 3vw;
}
