* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  overflow-x: hidden;
  font-family: "Heebo", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3 {
  color: white;
  font-size: 6vh;
}

p {
  color: white;
}

/* NAVBAR */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: whitesmoke;
}

.logo img {
  height: 60px;
  padding: 10px 20px 5px 16px;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: whitesmoke;
  padding-right: 10vw;
  margin-left: 20px;
  display: block;
  text-transform: uppercase;
  font-size: 20px;
}

.toggle-button {
  position: absolute;
  top: 1.3rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 25px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: whitesmoke;
  border-radius: 10px;
}

@media (max-width: 890px) {
  .toggle-button {
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;
    height: 93vh;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 50px;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links li a {
    font-size: 40px;
    padding-bottom: 10px;
    padding-right: 0;
    margin-left: 0;
  }

  .navbar-links.active {
    display: flex;
    overflow-y: hidden;
  }
}

@media (max-width: 1700px) {
  .navbar-links li a {
    padding-right: 7.5vw;
  }
}

@media (max-width: 1360px) {
  .navbar-links li a {
    padding-right: 6vw;
  }
}

@media (max-width: 1200px) {
  .navbar-links li a {
    padding-right: 5vw;
  }
}

@media (max-width: 1090px) {
  .navbar-links li a {
    padding-right: 3vw;
  }
}

@media (max-width: 940px) {
  .navbar-links li a {
    padding-right: 2vw;
  }
}

@media (max-width: 600px) {
  .artist-name h1 {
    font-size: 3vh;
  }

  .navbar-links li a {
    padding-right: 0;
  }
}

@media (max-width: 400px) {
  .navbar-links li a {
    padding-right: 0;
    font-size: 8vw;
  }
}

/*NOTAVAILABLE*/
.notavailable {
  position: relative; 
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #000000;
}


@media (max-width: 1024px) {
  .ssavertical{
    width: 0;
  }

}

.content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.ssavertical {
  display: flex;
  align-items: center;
  margin-left: 300px;
}

.ssavertical img {
  width: 15vw;
}

.infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-right: 300px;
  align-items: center;
}

.desc {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.desc h1 {
  position: relative;
  font-size: 3vw;
  text-transform: uppercase;
  color: white;
}

.line {
  color: white;
  width: 40%;
  border-top: 1px solid white;
}

.contact {
  letter-spacing: 20px;
}

/* FOOTER */
.footer {
  display: flex;
  height: 30px;
  background-color: rgb(26, 26, 26);
  align-items: center;
  justify-content: left;
  margin-top: auto;
}

.footer h1 {
  font-size: 10px;
  text-align: center;
  margin-left: 10px;
}

.footer a {
  color: white;
  text-decoration: none;
}
