* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  overflow-x: hidden;
  font-family: 'Heebo', sans-serif;
}

h1 {
  color: white;
  font-size: 6vh;
}

p {
  color: white;
}

/* NAVBAR */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: whitesmoke;
  height: fit-content;
}

.logo img {
  height: 60px;
  padding: 10px 20px 5px 16px;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  justify-content: space-around;
  
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: whitesmoke;
  padding-right: 10vw;
  margin-left: 20px;
  display: block;
  text-transform: uppercase;
  font-size: 20px;
}


.toggle-button {
  position: absolute;
  top: 1.3rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 25px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: whitesmoke;
  border-radius: 10px;
}

@media (max-width: 890px) {
  .toggle-button {
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;
    height: 93vh;
    
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
    
  }

  .navbar-links li {
    text-align: center;
    
  }

  .navbar-links li a {
    font-size: 40px;
    padding-bottom: 40px;
    padding-right: 0;
    margin-left: 0;
  }

  .navbar-links.active {
    display: flex;
    overflow-y: hidden;
  }

}


@media (max-width: 1700px) {
  .navbar-links li a {
    padding-right: 7.5vw;
  }
}

@media (max-width: 1360px) {
  .navbar-links li a {
    padding-right: 6vw;
  }
}

@media (max-width: 1200px) {
  .navbar-links li a {
    padding-right: 5vw;
  }
}

@media (max-width: 1090px) {
  .navbar-links li a {
    padding-right: 3vw;
  }
}

@media (max-width: 940px) {
  .navbar-links li a {
    padding-right: 2vw;
  }
  
}

@media (max-width: 600px) {
  .artist-name h1 {
    font-size: 3vh;
  }

  .navbar-links li a {
    padding-right: 0;
  }
  
}

/* ABOUT ARTIST */

.about-artist {
  height: 500px;
  background-image: url("images/aboutartist.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  */
}

.artist-name {
  /*display: flex;
  max-width: fit-content;
  grid-area: 1 / 1 / 2 / 2;
  align-items: center;
  justify-self: center; */
  margin: 30px 0 0 30px;
  
}

.artist-name h1{
  font-size: 80px;
  text-align: center;
}

.artist-desc {
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 0 30px 0 0;
  /*
  display: flex;
  max-width: 100%;
  min-width: 200px;
  grid-area: 1 / 3 / 2 / 4;
  align-items: center;
  padding-right: 10px;
  text-transform: uppercase;
  margin-top: 60px;
  margin-right: 30px;*/
}

.artist-desc p{
  width: 50vh;
  text-align: justify;
  text-justify: auto;
  text-transform: uppercase;

}


@media (max-width: 1070px){
  .about-artist {
    flex-direction: column;
    justify-content: none;
  }
  .artist-name{
    margin: 0;
    
  }

  .artist-name h1{
    font-size: 100px;
    text-align: center;
    padding-top: 30px;
  }

  .artist-desc{
    margin: 0;
    margin-bottom: 30px;
  }

}

@media (max-width: 620px){
  .artist-name h1{
    font-size: 80px;
    text-align: center;
    padding-top: 30px;
  }

}

@media (max-width: 500px){
  .artist-name h1{
    font-size: 60px;
    text-align: center;
    padding-top: 30px;
  }

}


@media (max-width: 600px){
  .artist-desc p{
    width: 40vh;
    
  }
}


/* SONGS */

.songs {
  background-color: black;
  min-height: 100%;

}

.row0{
  display: flex;
  justify-content: space-between;
}

.audio h1{
  font-size: 40px;
  margin-left: 25px;
}

.social h1{
  font-size: 40px;
  margin-right: 25px;
}

.audio .links img{
  width: 40px;
  height: 40px;
  margin-left: 25px;
}

.social .links img{
  width: 40px;
  height: 40px;
  margin-right: 25px;
}

@media (max-width: 950px){
  .row0{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .audio{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .social{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .audio h1{
    font-size: 6vw;
    margin-left: 0;
  }

  .social h1{
    font-size: 6vw;
    margin-right: 0;
  }

  
  .audio .links img{
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .social .links img{
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 600px){
  .audio h1{
    margin-left: 0;
  }

  .social h1{
    margin-right: 0;
  }
}



.row1 h1 {
  text-align: center;
  margin-top: 30px;
}

.row2{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content:space-evenly;
  margin-bottom: 100px;
}

.row2 img{
  width: 350px;
  height: 350px;
  margin: 20px 20px 5px 20px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.row2 img:hover{
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
      transform: scale(1.01);
  box-shadow: 0 0 50px #8970A2;
}

.placeholder{
  width: 350px;
  height: 350px;
  /*background-color: rgb(29, 0, 56);*/
  margin: 20px;
}

.item p{
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 1600px){

  .row2 img{
    margin: 10px 90px 10px 90px;
  }

  .placeholder{
    margin: 10px 90px 10px 90px;
  }
}



@media (max-width: 1100px){
  .row2 img{
    margin:30px 30px 0px 30px;
  }

  .placeholder{
    margin:30px 30px 0px 30px;
  }
}

@media (max-width: 690px){
  .row2 img{
    width: 350px;
    height: 350px;
  }

  .placeholder{
    width: 350px;
    height: 0;
  }
}



/*
.row2 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}


.col-3 p{
  text-align: center;
}

.col-3 img {
  width: 350px;
  margin: 30px 20px 0px 20px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.col-3 img:hover {
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
      transform: scale(1.01);
  box-shadow: 0px 5px 20px -5px #7f00b1;
}


.placeholder{
  width: 350px;
  height: 350px;
  background-color: rgb(29, 0, 56);
  margin: 20px;
}


*/


/* FOOTER */
.footer{
  display: flex;
  height: 30px;
  background-color: rgb(26, 26, 26);
  margin-top: 10px;
  align-items: center;
  justify-content: left;
}


.footer h1{
  font-size: 10px;
  text-align: center;
  margin-left: 10px;
}
