@import url(/css_lib/navbar-footer.css);
/*NOTAVAILABLE*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	background-color: black;
	overflow-x: hidden;
	font-family: "Heebo", sans-serif;
	height: 100vh;
	display: flex;
	flex-direction: column;
}
p,h1,h2 {
	color: white;
}

.content{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin-top: 67px;
	.inner{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		h1{
			font-size: 6vh;
		}
		h2{
			font-size: 2.5vh;
			text-transform: uppercase;
			text-align: center;
		}

		@media (max-width: 890px){
			h1{
				font-size: 4vh;
			}
			h2{
				font-size: 1.5vh;
			}
		}
	}
}
