* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: black;
  font-family: "Heebo", sans-serif;
}

h1 {
  color:white;
  font-size: 12vw;
}

h2 {
  font-size: 4vw;
}

p {
  color: white;
}

/* NAVBAR */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: whitesmoke;
}

.logo img {
  height: 60px;
  padding: 10px 20px 5px 16px;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: whitesmoke;
  padding-right: 10vw;
  margin-left: 20px;
  display: block;
  text-transform: uppercase;
  font-size: 20px;
}

.toggle-button {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 25px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 880px) {
  .toggle-button {
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;
    height: 93vh;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links li a {
    padding: 0.5rem 1rem;
    font-size: 40px;
    margin-left: 0;
  }

  .navbar-links.active {
    display: flex;
  }
}

@media (max-width: 1700px) {
  .navbar-links li a {
    padding-right: 7.5vw;
  }
}

@media (max-width: 1360px) {
  .navbar-links li a {
    padding-right: 6vw;
  }
}

@media (max-width: 1200px) {
  .navbar-links li a {
    padding-right: 4vw;
  }
}

@media (max-width: 1050px) {
  .navbar-links li a {
    padding-right: 2vw;
  }
}

@media (max-width: 940px) {
  .navbar-links li a {
    padding-right: 1vw;
  }
}

@media (max-width: 600px) {
  .artist-name h1 {
    font-size: 3vh;
    padding-left: 10px;
    padding-bottom: 300px;
  }
}

/* CONTENT */
.content {
  background-color: black;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.top {
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(
      bottom,
      rgba(0, 0, 0, 0) 20%,
      #000000 100%
    ),
    url(../images/VVGIRL.png);
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 20%,
      rgb(0, 0, 0) 100%
    ),
    url(../images/VVGIRL.png);
  background-size: 100%;
  align-items: center;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 1200px) {
  .top {
    background-position: center;
  }
}

/*
.mmm{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.mmm img{
  width: 100%;
  height: 10vh;
  
}*/
.top h1 {
  padding-top: 50px;
  text-align: center;
  text-transform: uppercase;
}

.top a {
  text-decoration: none;
  color: white;
}

.content .top .logo-div a {
  text-decoration: none;
}

.links {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.link1 {
  color: white;
  text-decoration: none;
  width: 70%;
  display: block;
  text-align: center;
  border: 4px solid white;
  padding: 10px;
  transition: all 0.5s;
  margin-bottom: 0.5rem;
  font-size: 30px;
}

.link1:hover {
  background: white;
  color: black;
}

.row {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 80px;
  padding-right: 65px;
  justify-content: space-between;
  padding-bottom: 100px;
}

.logo-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo-div img {
  width: 65px;
  height: 65px;
  margin-right: 10px;
  margin-bottom: 8px;
}

@media (max-width: 900px) {
  .links a {
    font-size: 25px;
  }

  .logo-div img {
    width: 55px;
    height: 55px;
  }
  .row {
    padding-right: 55px;
  }

  .link1 {
    width: 80%;
  }
}

@media (max-width: 550px) {
  .links a {
    font-size: 17px;
  }

  .logo-div img {
    width: 45px;
    height: 45px;
  }
  .row {
    padding-top: 50px;
    padding-right: 45px;
  }

  .link1 {
    border: 2px solid white;
  }

  h1 {
    font-size: 15vw;
  }

  h2 {
    font-size: 10vw;
  }
}

@media (max-width: 400px) {
  .links a {
    font-size: 10px;
  }

  .logo-div img {
    width: 35px;
    height: 35px;
  }
  .row {
    padding-right: 35px;
  }

  .link1 {
    border: 1px solid white;
  }
}

/*FOOTER */

.footer {
  display: flex;
  height: 30px;
  background-color: rgb(26, 26, 26);
  margin-top: 20vh;
  align-items: center;
  justify-content: left;
}

.footer h1 {
  font-size: 10px;
  text-align: center;
  margin-left: 10px;
}
